altgraph==0.17.5
anyio==4.11.0
autopep8==2.1.0
backports.tarfile==1.2.0
build==1.3.0
CacheControl==0.14.3
certifi==2025.10.5
charset-normalizer==3.4.4
cleo==2.1.0
colorama==0.4.6
crashtest==0.4.1
distlib==0.4.0
dulwich==0.24.8
et-xmlfile==1.1.0
fastjsonschema==2.21.2
filelock==3.20.0
findpython==0.7.0
german-nouns==1.2.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
keyring==25.6.0
lxml==4.9.4
more-itertools==10.8.0
msgpack==1.1.2
mwparserfromhell==0.6.6
mysql-connector-python==8.0.32
numpy==2.1.1
openpyxl==3.1.5
packaging==24.2
pandas==2.2.2
pbs-installer==2025.10.31
pefile==2023.2.7
pkginfo==1.12.1.2
platformdirs==4.5.0
poetry==2.2.1
poetry-core==2.2.1
pycodestyle==2.11.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.10
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
RapidFuzz==3.14.3
requests==2.32.5
requests-toolbelt==1.0.0
shellingham==1.5.4
sip==6.9.1
six==1.16.0
sniffio==1.3.1
tinydb==4.8.2
tomlkit==0.13.3
trove-classifiers==2025.9.11.17
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.5.0
virtualenv==20.35.4
wiktionary-de-parser==0.9.5
zipp==3.23.0
zstandard==0.25.0
